{% load staticfiles %}
<div class="footer__logos">
  <a class="footer__logo-wrapper" href="http://www.camara.leg.br">
    <img class="footer__logo image" src="{% static 'img/logo-camara.svg' %}" data-fallback="{% static 'img/logo-camara.png' %}" alt="Logo da Câmara dos Deputados">
  </a>

  <a class="logo" href="http://labhackercd.net">
    <img class="footer__logo image" src="{% static 'img/logo-labhacker.svg' %}" data-fallback="{% static 'img/logo-labhacker.png' %}" alt="Logo do Labhacker">
  </a>
</div>

<div class="footer__about">
  <p class="footer__text">
    <p>O Laboratório Hacker da Câmara dos Deputados, criado pela Resolução 49 de 2013, conta com espaço físico de acesso e uso livres para qualquer cidadão, especialmente programadores e desenvolvedores de softwares, que poderão utilizar dados públicos para ações de cidadania. Nosso objetivo, portanto, é promover ações colaborativas visando o aprimoramento da transparência legislativa e da participação popular. Conheça nossa equipe.</p>
    <p>Visite-nos no Anexo IV da Câmara dos Deputados, Subsolo, Sala 90</p>
    <p>Todo o conteúdo deste site está publicado sob a licença Creative Commons CC BY-SA 4.0 Brasil</p>
  </p>
</div>
