{% load staticfiles %}
<div class="footer__logos">
  <a class="footer__logo-wrapper" href="http://www.camara.leg.br">
    <img class="footer__logo image" src="{% static 'img/logo-camara.svg' %}" data-fallback="{% static 'img/logo-camara.png' %}" alt="Logo da Câmara dos Deputados">
  </a>

  <a class="logo" href="http://labhackercd.net">
    <img class="footer__logo image" src="{% static 'img/logo-labhacker.svg' %}" data-fallback="{% static 'img/logo-labhacker.png' %}" alt="Logo do Labhacker">
  </a>
</div>

<div class="footer__about">
  <p class="footer__text"> 
    Sapien in monti palavris qui num significa nadis i pareci latim.  Ta deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.” Pra lá , depois divoltis porris, paradis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
  </p>
</div>
