{% extends "base.html" %}
{% load staticfiles edem_utils %}

{% block title %}E-Democracia{% endblock %}

{% block main %}

  {% if not user.is_authenticated %}
    {% include "login.html" %}
  {% endif %}

  <section class="section section--filter">
    <div class="section__content">
      <a class="show-filters" href=""><h1 class="section__title">Selecione os temas de seu interesse <i class="icon icon-angle-down"></i></h1></a>
    </div>
  </section>

  <section class="section section--hide section--filter-select">
    <div class="e-row">
      <div class="e-column">
        <div class="section__content">
          <div class="section__info">
            <p class="section__description">Filtre as discussões e projetos de lei e veja apenas o que você gosta!</p>
          </div>
          <ul class="category-list">
            {% for category in categories %}
              <li class="category-list__item">
                {% if category.slug in selected_filters_list %}
                  <button class="category-list__button category-list__button--{{category.slug}} active" name="{{category.slug}}" slug="{{category.slug}}">
                {% else %}
                  <button class="category-list__button category-list__button--{{category.slug}}" name="{{category.slug}}" slug="{{category.slug}}">
                {% endif %}
                <div class="category-list__icon">
                  <i class="icon icon-{{category.slug}}"></i>
                </div>
                <span class="category-list__text">{{category.name}}</span>
                </button>
              </li>
            {% endfor %}
          </ul>
          <form action="{% url 'colab_edemocracia:home' %}">
            <input class="input--filter" name="filter" type="hidden" value="{{selected_filters}}">
            <button class="button button--expanded">Filtrar</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--wikilegis">
    <div class="e-row e-expanded">
      <div class="section__info section__block e-columns small-12 large-3">
        <a href="{% url 'wikilegis:colab_wikilegis' '' %}"><img class="section__logo" src="{% static 'img/logo-wikilegis.svg' %}"></a>
        <p class="section__text">
          Edite e aprimore projetos de lei artigo por artigo.
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">
          <h1 class="section__title"><a class="section__link" href="{% url 'wikilegis:colab_wikilegis' '' %}" title="Veja todos os projetos">Projetos de Lei</a></h1>
          <div class="container container--card-list">
            <ul class="card-list">
            {% for bill in wikilegis_data %}
              <a class="info-card__link" href="{{bill.get_url}}">
                <li class="info-card info-card--wikilegis">
                  <div class="info-card__header">
                    {# XXX: Add different style when the category is one of the user's prefered themes #}
                    {% if user.is_authenticated %}
                      {% get_prefered_themes_list as prefered_themes %}
                      {% if bill.theme.slug in prefered_themes %}
                      {% endif %}
                    {% endif %}
                    <div class="info-card__icon"><i class="icon icon-{{bill.theme.slug}}"></i></div>
                    <h2 class="info-card__title">{{bill.title|truncatechars:40}}</h2>
                  </div>
                  <p class="info-card__text">
                    {{bill.description|truncatechars:160}}
                  </p>
                  <div class="info-card__footer">
                    <div class="card-stats">
                      <div class="card-stats__name">Propostas</div>
                      <div class="card-stats__value">{{bill.amendments_count}}</div>
                    </div>

                    <div class="card-stats">
                      <div class="card-stats__name">Participe até:</div>
                      <div class="card-stats__value">{{bill.closing_date|date:"d/m/Y"}}</div>
                    </div>
                  </div>
                </li>
              </a>
            {% empty %}
              <li>
                <div class="section__content-wrapper section__content-wrapper--center text-center">
                  <p class="section__text">
                    Desculpe. Não encontramos nenhum projeto de lei com os filtros acima.
                  </p>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--discourse">
    <div class="e-row e-expanded">
      <div class="section__info section__block e-columns small-12 large-3">
        <a href="{% url 'discourse:colab_discourse' '' %}"><img class="section__logo" src="{% static 'img/logo-expressao.svg' %}" data-fallback="{% static 'img/logo-labhacker.png' %}"></a>
        <p class="section__text">
          Dê sua opinião sobre os assuntos que afetam a sua vida, discutindo soluções com outros cidadãos e os deputados.
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">
          <h1 class="section__title"><a class="section__link" href="{% url 'discourse:colab_discourse' '' %}" title="Veja todas as discussões">Discussões</a></h1>
          <div class="container container--card-list">
            <ul class="card-list">
              {% for topic in discourse_data %}
                <a class="info-card__link" href="{{topic.get_url}}">
                  <li class="info-card info-card--discourse info-card--{{topic.category.slug}}">
                    {# XXX: Add different style when the category is one of the user's prefered themes #}
                    {% if user.is_authenticated %}
                      {% if topic.category in user.profile.prefered_themes.all %}
                      {% endif %}
                    {% endif %}
                    <div class="info-card__header">
                      <div class="info-card__icon"><i class="icon icon-{{topic.category.slug}}"></i></div>
                      <h2 class="info-card__title">{{topic.category.name}}</h2>
                    </div>
                    <p class="info-card__text">
                      {{topic.title}}
                    </p>
                    <div class="info-card__footer">
                      <div class="card-stats">
                        <div class="card-stats__name">Respostas</div>
                        <div class="card-stats__value">{{topic.posts_count}}</div>
                      </div>

                      <div class="card-stats">
                        <div class="card-stats__name">Visualizações</div>
                        <div class="card-stats__value">{{topic.views}}</div>
                      </div>

                      <div class="card-stats">
                        <div class="card-stats__name">Atualização</div>
                        <div class="card-stats__value">{{topic.last_posted_at|date:"b/Y"}}</div>
                      </div>
                    </div>
                  </li>
                </a>
              {% empty %}
                <li>
                  <div class="section__content-wrapper section__content-wrapper--center text-center">
                    <p class="section__text">
                      Desculpe. Não encontramos nenhuma discussão com os filtros acima.
                    </p>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--audiencias">
    <div class="e-row e-expanded">

      <div class="section__info section__block e-columns small-12 large-3">
        <a href="{% url 'audiencias:colab_audiencias' '' %}">
          <img class="section__logo" src="{% static 'img/logo-audiencias-publicas.svg' %}" data-fallback="{% static 'img/logo-audiencias-publicas.png' %}">
        </a>
        <p class="section__text">
          Acompanhe ao vivo e participe enviando perguntas aos deputados!
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">
          <h1 class="section__title">
            <a class="section__link" href="{% url 'audiencias:colab_audiencias' '' %}" title="Acesse a versão de testes">
              Pergunte aos Deputados
            </a>
          </h1>
          <div class="section__content-wrapper section__content-wrapper--center">
            <ul class="card-list">
              {% for room in live_videos %}
              <a class="info-card__link" href="{{ room.get_url }}">
                <li class="info-card info-card--audiencias">
                  <div class="info-card__header info-card__header--live">
                    <div class="info-card__icon info-card__icon--live"><i class="icon icon-circle live-blink"></i></div>
                    <h2 class="info-card__title">Ao Vivo</h2>
                  </div>
                  <img class="info-card__image" src="https://i.ytimg.com/vi/{{room.youtube_id}}/mqdefault_live.jpg">
                  <div class="info-card__description">
                  <p class="info-card__text">{% if room.reunion_theme %}{{ room.reunion_theme|truncatechars:70 }}{% elif room.is_joint %}{{ room.title_reunion }}{% else %}{{ room.legislative_body_alias }}{% endif %}</p>
                  {% if room.reunion_type %}
                  <p class="info-card__type">{{ room.reunion_type }}</p>
                  {% endif %}
                  </div>
                  <div class="info-card__footer">
                    <div class="card-stats">
                      <div class="card-stats__name">Perguntas</div>
                      <div class="card-stats__value">{{ room.questions_count }}</div>
                    </div>

                    <div class="card-stats">
                      <div class="card-stats__name">Data</div>
                      <div class="card-stats__value">{{ room.date|date:'d/m/Y' }}</div>
                    </div>
                  </div>
                </li>
              </a>
              {% endfor %}
              {% for room in history_videos %}
              <a class="info-card__link" href="{{ room.get_url }}">
                <li class="info-card info-card--audiencias">
                  <div class="info-card__header info-card__header--old-video">
                    <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
                    <h2 class="info-card__title">Audiências que já aconteceram</h2>
                  </div>
                  <img class="info-card__image" src="https://i.ytimg.com/vi/{{room.youtube_id}}/mqdefault_live.jpg">
                  <div class="info-card__description">
                  <p class="info-card__text">{% if room.reunion_theme %}{{ room.reunion_theme|truncatechars:70 }}{% elif room.is_joint %}{{ room.title_reunion }}{% else %}{{ room.legislative_body_alias }}{% endif %}</p>
                  {% if room.reunion_type %}
                  <p class="info-card__type">{{ room.reunion_type }}</p>
                  {% endif %}
                  </div>
                  <div class="info-card__footer">
                    <div class="card-stats">
                      <div class="card-stats__name">Perguntas</div>
                      <div class="card-stats__value">{{ room.questions_count }}</div>
                    </div>

                    <div class="card-stats">
                      <div class="card-stats__name">Data</div>
                      <div class="card-stats__value">{{ room.date|date:'d/m/Y' }}</div>
                    </div>
                  </div>
                </li>
              </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock main %}

{% block extra_js %}
  {% include "filter.js" %}
{% endblock extra_js %}
