{% extends "base.html" %}
{% load staticfiles edem_utils %}

{% block title %}E-Democracia{% endblock %}

{% block main %}

  {% if not user.is_authenticated %}
    {% include "login.html" %}
  {% endif %}

  <section class="section section--wikilegis">
    <div class="e-row e-expanded">
      <div class="section__info section__block e-columns small-12 large-3">
        <a href="{% url 'wikilegis:colab_wikilegis' '' %}"><img class="section__logo" src="{% static 'img/logo-wikilegis.svg' %}"></a>
        <p class="section__text">
          Edite e aprimore projetos de lei artigo por artigo.
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">
          <h1 class="section__title"><a class="section__link" href="{% url 'wikilegis:colab_wikilegis' '' %}" title="Veja todos os projetos">Projetos de Lei</a></h1>
          <div class="container container--card-list">
            <ul class="card-list">
            {% for bill in wikilegis_data %}
              <a class="info-card__link" href="{{bill.get_url}}">
                <li class="info-card info-card--wikilegis">
                  <div class="info-card__header">
                    {# XXX: Add different style when the category is one of the user's prefered themes #}
                    {% if user.is_authenticated %}
                      {% get_prefered_themes_list as prefered_themes %}
                      {% if bill.theme in prefered_themes %}
                      {% endif %}
                    {% endif %}
                    <div class="info-card__icon"><i class="icon icon-{{bill.theme}}"></i></div>
                    <h2 class="info-card__title">{{bill.title|truncatechars:40}}</h2>
                  </div>
                  <p class="info-card__text">
                    {{bill.description|truncatechars:160}}
                  </p>
                  <div class="info-card__footer">
                    <div class="card-stats">
                      <div class="card-stats__name">Propostas</div>
                      <div class="card-stats__value">{{bill.get_total_proposals}}</div>
                    </div>

                    <div class="card-stats">
                      <div class="card-stats__name">Em:</div>
                      <div class="card-stats__value">{{bill.modified|date:"d/m/Y"}}</div>
                    </div>
                  </div>
                </li>
              </a>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--discourse">
    <div class="e-row e-expanded">
      <div class="section__info section__block e-columns small-12 large-3">
        <a href="{% url 'discourse:colab_discourse' '' %}"><img class="section__logo" src="{% static 'img/logo-expressao.svg' %}" data-fallback="{% static 'img/logo-labhacker.png' %}"></a>
        <p class="section__text">
          Dê sua opinião sobre os assuntos que afetam a sua vida, discutindo soluções com outros cidadãos e os deputados.
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">
          <h1 class="section__title"><a class="section__link" href="{% url 'discourse:colab_discourse' '' %}" title="Veja todas as discussões">Discussões</a></h1>
          <div class="container container--card-list">
            <ul class="card-list">
              {% for topic in discourse_data %}
                <a class="info-card__link" href="{{topic.get_url}}">
                  <li class="info-card info-card--discourse info-card--{{topic.category.slug}}">
                    {# XXX: Add different style when the category is one of the user's prefered themes #}
                    {% if user.is_authenticated %}
                      {% if topic.category in user.profile.prefered_themes.all %}
                      {% endif %}
                    {% endif %}
                    <div class="info-card__header">
                      <div class="info-card__icon"><i class="icon icon-{{topic.category.slug}}"></i></div>
                      <h2 class="info-card__title">{{topic.category.name}}</h2>
                    </div>
                    <p class="info-card__text">
                      {{topic.title}}
                    </p>
                    <div class="info-card__footer">
                      <div class="card-stats">
                        <div class="card-stats__name">Respostas</div>
                        <div class="card-stats__value">{{topic.posts_count}}</div>
                      </div>

                      <div class="card-stats">
                        <div class="card-stats__name">Visualizações</div>
                        <div class="card-stats__value">{{topic.views}}</div>
                      </div>

                      <div class="card-stats">
                        <div class="card-stats__name">Criado em</div>
                        <div class="card-stats__value">{{topic.last_posted_at|date:"b/Y"}}</div>
                      </div>
                    </div>
                  </li>
                </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--audiencas">
    <div class="e-row e-expanded">

      <div class="section__info section__block e-columns small-12 large-3">
        <a href="http://edemocracia.camara.gov.br/web/eventosinterativos">
          <img class="section__logo" src="{% static 'img/logo-audiencias-publicas.svg' %}" data-fallback="{% static 'img/logo-audiencias-publicas.png' %}">
        </a>
        <p class="section__text">
          Acompanhe ao vivo e participe enviando perguntas aos deputados!
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">
          <h1 class="section__title">
            <a class="section__link" href="http://edemocracia.camara.gov.br/web/eventosinterativos" title="Acesse a versão anterior!">
              Audiências Públicas (Em breve)
            </a>
          </h1>
          <div class="section__content-wrapper section__content-wrapper--center text-center">
            <p class="section__text">
              Em breve teremos disponível uma nova versão de nossas Audiências Públicas interativas. Até lá você ainda pode acompanhá-las em nossa versão anterior:
            </p>
            <a class="button large secondary hollow" role="button" href="http://edemocracia.camara.gov.br/web/eventosinterativos">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock main %}
