{% load staticfiles %}
<section class="section section--login" id="login">
  <div class="e-row align-middle">
    <div class="e-columns small-12 medium-12 large-7">
      <div class="section__info">
        <img class="section__logo section__logo--icon" src="{% static 'img/edem-logo.png' %}">
        <img class="section__logo section__logo--text" src="{% static 'img/edem-logo-text.png' %}">
        <p class="section__text">
          O portal e-Democracia é uma iniciativa da Câmara dos Deputados, que visa aproximar a sociedade e os seus representantes, através da interação digital.
        </p>
      </div>
    </div>
    <div class="e-columns small-12 medium-12 large-5">
      <div class="login-box">
        {# XXX make this options-box generic with .choice-box #}
        <div class="login-box__options">
          <span class="login-box__yellow-bar"></span>
          <button class="login-box__option login-box__option--login active">Login</button>
          <button class="login-box__option login-box__option--signup">Cadastre-se</button>
        </div>

        <div class="login-box__forms">
          <div class="login-box__form-wrapper login-box__form-wrapper--login active">

            <form class="login-box__form" method="post" role="form" action="{% url 'colab_edemocracia:home' %}" data-abide novalidate>
              {% csrf_token %}
              {% if previous_path %}
                <input type="hidden" value="{{previous_path}}" name="previous_path">
              {% endif %}

              {# XXX make all form inputs generic with another class #}
              <label class="login-box__input-wrapper input-group">
                <i class="login-box__icon icon icon-user input-group-label" aria-hidden="true"></i>

                <span class="show-for-sr">Nome de usuário</span>
                <div class="login-box__input-container">
                  <input class="login-box__input input input-group-field" type="text" id="id_username" name="username" placeholder="Nome de usuário" required/>

                  <div class="login-box__error form-error">
                    <span class="login-box__error-message">ERRO</span>
                    <i class="login-box__error-icon icon icon-e-arrow-circle-left"></i>
                  </div>

                </div>
              </label>

              <label class="login-box__input-wrapper input-group">
                <i class="login-box__icon icon icon-lock input-group-label" aria-hidden="true"></i>
                <span class="show-for-sr">Senha</span>
                <div class="login-box__input-container">
                  <input class="login-box__input input input-group-field" type="password" id="id_password" name="password" placeholder="Senha" required/>

                  <div class="login-box__error form-error">
                    <span class="login-box__error-message">ERRO</span>
                    <i class="login-box__error-icon icon icon-e-arrow-circle-left"></i>
                  </div>

                </div>
              </label>
              {# XXX make our custom modifier classes inherit the styles of foundation modifier classes (like .expanded here) #}
              <button class="button expanded button--expanded">Login</button>
            </form>

            <div class="login-box__social-login">
              <a href="{% url 'social:begin' backend='facebook' %}" class="button expanded button--social button--facebook">
                <span class="button--social__icon"><i class="icon icon-facebook"></i></span><span class="button--social__label">Login com Facebook</span>
              </a>
              <a href="{% url 'social:begin' backend='google-oauth2' %}" class="button expanded button--social button--google-plus">
                <span class="button--social__icon"><i class="icon icon-google-plus"></i></span><span class="button--social__label">Login com Google+</span>
              </a>
            </div>

          </div>

          <div class="login-box__form-wrapper login-box__form-wrapper--signup inactive">

            <form class="login-box__form" method="post" role="form" action="{% url 'colab_edemocracia:signup' %}" data-abide novalidate>
              {% csrf_token %}
              {% if previous_path %}
                <input type="hidden" value="{{previous_path}}" name="previous_path">
              {% endif %}

              <label class="login-box__input-wrapper input-group">
                <i class="login-box__icon icon icon-envelope input-group-label" aria-hidden="true"></i>
                <span class="show-for-sr">E-mail</span>
                <div class="login-box__input-container">

                  <input class="login-box__input input input-group-field" type="text" id="id_email" name="email" placeholder="E-mail" required/>

                  <div class="login-box__error form-error">
                    <span class="login-box__error-message">ERRO</span>
                    <i class="login-box__error-icon icon icon-e-arrow-circle-left"></i>
                  </div>

                </div>
              </label>

              <label class="login-box__input-wrapper input-group">
                <i class="login-box__icon icon icon-user input-group-label" aria-hidden="true"></i>
                <span class="show-for-sr">Nome de usuário</span>
                <div class="login-box__input-container">

                  <input class="login-box__input input input-group-field" type="text" id="id_username" name="username" placeholder="Nome de usuário" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"required/>

                  <div class="login-box__error form-error">
                    <span class="login-box__error-message">ERRO</span>
                    <i class="login-box__error-icon icon icon-e-arrow-circle-left"></i>
                  </div>

                </div>
              </label>

              <label class="login-box__input-wrapper input-group">
                <i class="login-box__icon icon icon-lock input-group-label" aria-hidden="true"></i>
                <span class="show-for-sr">Senha</span>
                <div class="login-box__input-container">

                  <input class="login-box__input input input-group-field" type="password" id="id_password" name="password" placeholder="Senha" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required/>

                  <div class="login-box__error form-error">
                    <span class="login-box__error-message">ERRO</span>
                    <i class="login-box__error-icon icon icon-e-arrow-circle-left"></i>
                  </div>

                </div>
              </label>

              <button class="button expanded button--expanded">Cadastrar-se</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>