[submodule "src/colab_edemocracia/templates/components/edem-navigation"]
	path = src/colab_edemocracia/templates/components/edem-navigation
	url = https://github.com/labhackercd/edem-navigation.git
	branch = master
