.card-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.card-stats {
  flex-grow: 1;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  padding: 0 0.2rem;
  border-right: 1px solid lightgray;

  &:last-child {
    border: none;
  }

  &__name {
    margin-bottom: 0.3rem;
  }

  &__value {
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.info-card {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  padding: 1.5rem;
  background-color: white;

  @include material-shadow(1);

  &__link {
    display: flex;
    flex: 0 0 18rem;
    min-height: 20rem;
    margin: 0.5rem;
  }


  &__header {
    display: flex;
    align-items: center;

    &--documento {
      background-color: $documento;
    }

    &--adm-publica {
      background-color: $adm-publica;
    }

    &--agropecuaria {
      background-color: $agropecuaria;
    }

    &--assistencia-social {
      background-color: $assistencia-social;
    }

    &--cidades {
      background-color: $cidades;
    }

    &--ciencia {
      background-color: $ciencia;
    }

    &--comunicacao {
      background-color: $comunicacao;
    }

    &--consumidor {
      background-color: $consumidor;
    }

    &--cultura {
      background-color: $cultura;
    }

    &--direito-e-justica {
      background-color: $direito-e-justica;
    }

    &--direitos-humanos {
      background-color: $direitos-humanos;
    }

    &--economia {
      background-color: $economia;
    }

    &--educacao {
      background-color: $educacao;
    }

    &--esportes {
      background-color: $esportes;
    }

    &--familia {
      background-color: $familia;
    }

    &--industria {
      background-color: $industria;
    }

    &--institucional {
      background-color: $institucional;
    }

    &--meio-ambiente {
      background-color: $meio-ambiente;
    }

    &--participacao_e_transparencia {
      background-color: $participacao_e_transparencia;
    }

    &--politica {
      background-color: $politica;
    }

    &--previdencia {
      background-color: $previdencia;
    }

    &--relacoes-exteriores {
      background-color: $relacoes-exteriores;
    }

    &--saude {
      background-color: $saude;
    }

    &--seguranca {
      background-color: $seguranca;
    }

    &--trabalho {
      background-color: $trabalho;
    }

    &--transporte-e-transito {
      background-color: $transporte-e-transito;
    }

    &--turismo {
      background-color: $turismo;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  &__title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
  }

  &__footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;
  }
}

.info-card--wikilegis {

  & .info-card__header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
    max-height: 5rem;
  }

  & .info-card__icon {
    flex: 0 0 3.6rem;
    height: 3.5rem;
    border: 0.3rem solid #00d574;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  & .info-card__title {
    max-height: 4rem;
  }

  & .card-stats__value {
    color: #00d574;
  }
}

.info-card--discourse {

  & .info-card__header {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: white;
  }

  & .info-card__icon {
    margin-right: 0.8rem;
    font-size: 1.5rem;
  }

  & .info-card__title {
    font-size: 0.9rem;
  }

  & .info-card__text {
    font-weight: 600;
    text-transform: uppercase;
  }

  & .card-stats__value {
    color: #1b9894;
  }
}