// These are set over at _settings.foundation! No need to mess them here.
  $primary: map-get($foundation-palette, primary);
  $secondary: map-get($foundation-palette, secondary);
  $success: map-get($foundation-palette, success);
  $warning: map-get($foundation-palette, warning);
  $alert: map-get($foundation-palette, alert);

$facebook-color: #3b5998;
$google-color: #dc4e41;

$documento: #b1b1ba;
$adm-publica: #5a9ab6;
$agropecuaria: #1a7c7b;
$assistencia-social: #f7d433;
$cidades: #657981;
$ciencia: #6b78dd;
$comunicacao: #66ccb4;
$consumidor: #ef4545;
$cultura: #c05fba;
$direito-e-justica: #1844a3;
$direitos-humanos: #d59ab6;
$economia: #f1d032;
$educacao: #3abf56;
$esportes: #a1c932;
$familia: #f39a35;
$industria: #544e4e;
$institucional: #22a23d;
$meio-ambiente: #c5db9b;
$participacao_e_transparencia: #abedfa;
$politica: #f1d258;
$previdencia: #52c0ca;
$relacoes-exteriores: #12b5c4;
$saude: #dbfc8a;
$seguranca: #e6413d;
$trabalho: #6a97b3;
$transporte-e-transito: #fff000;
$turismo: #00fff0;