//Social colors
$facebook-color: #3b5998;
$google-color: #dc4e41;

//e-Democracia default category colors
$documento-color: #b1b1ba;
$adm-publica-color: #5a9ab6;
$agropecuaria-color: #1a7c7b;
$assistencia-social-color: #f7d433;
$cidades-color: #657981;
$ciencia-color: #6b78dd;
$comunicacao-color: #66ccb4;
$consumidor-color: #ef4545;
$cultura-color: #c05fba;
$direito-e-justica-color: #1844a3;
$direitos-humanos-color: #d59ab6;
$economia-color: #f1d032;
$educacao-color: #3abf56;
$esportes-color: #a1c932;
$familia-color: #f39a35;
$industria-color: #544e4e;
$institucional-color: #22a23d;
$meio-ambiente-color: #c5db9b;
$participacao_e_transparencia-color: #abedfa;
$politica-color: #f1d258;
$previdencia-color: #52c0ca;
$relacoes-exteriores-color: #12b5c4;
$saude-color: #dbfc8a;
$seguranca-color: #e6413d;
$trabalho-color: #6a97b3;
$transporte-e-transito-color: #fff000;
$turismo-color: #00fff0;