@import 'settings.foundation';
@import '../bower_components/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@import 'settings.colors';
@import 'settings.animation';
@import 'settings.type';
@import 'tools.material-shadow';
@import 'tools.animation';
@import 'base.page';
@import 'components.buttons';
@import 'components.sections';
@import 'components.login-box';
@import 'components.cards';
@import 'components.footer';

i {
  display: inline-flex;
}

.search-form {
  position: relative;
  transform-origin: 50% 100%;
  width: 4rem;
  height: 100%;
  cursor: pointer;
  transition: width 0.5s 0s $swift-out, background-color 0.25s ease-in-out;
  
  &:hover {
    background-color: darken(#134836,5%);
  }

  &.focused {
    width: 15rem;
    background-color: darken(#134836,5%);
    cursor: default;
    
    .search-form__input {
      padding: 0 4rem 0 1rem;
      width: 100%;
    }
  }
  
  .search-form__input {
    background: transparent;
    border: 0;
    color: white;
    outline: none;
    width: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 300;
    font-size: 0.9rem;
    box-shadow: none;
    
    &::placeholder {
      color: #63717f;
    }
  }
  
  .search-form__icon {
    position: absolute;
    color: white;
    font-size: 1.4rem;
    top: 50%;
    right: 1.3rem;
    transform: translateY(-50%);
    display: flex;
  }
}


.navigation {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #0d2625 0%, #134836 100%);
  height: 4rem;
  padding: 0 2.5rem;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  z-index: 10;
}

.logo--navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo--navigation .logo__image {
  height: 2.5rem;
}

.logo__name--edemocracia .logo__image {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.logo--menu-list .logo__image {
  height: 1.75rem;
}

.menu-list {
  display: flex;
  align-self: stretch;
  list-style: none;
  margin: 0;
}

.menu-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: darken(#134836,5%);
  }

}

.menu-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.75rem;
}

.menu-list--dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  position: relative;
  cursor: pointer;

  .menu-list__item {
    display: flex;
  }
}

.menu-list__text {
  color: white;
}

.menu-list--dropdown__wrapper {
  position: absolute;
  display: none;
  left: auto;
  right: 0;
  top: 100%;
  margin-top: 0.5rem;
  font-weight: 600;
  flex-direction: column;
  background-color: #245d49;
  color: white;
  white-space: nowrap;
  @include material-shadow(3);

  &::before {
    position: absolute;
    bottom: 100%;
    right: 1.5rem;
    @include css-triangle(0.5rem, #245d49, up);
  }

  &.toggled {
    display: flex;
  }
}

.menu-list--user-profile {

  &:hover .user-profile, &.toggled .user-profile {
    background-color: #e9c23a;
  }
}

.menu-list--user-profile .menu-list__text {
  margin-right: 1rem;
}

.user-profile {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background-color: darken(#134836,5%);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: background-color 0.25s ease-in-out;
}

.user-profile__image {
  text-align: center;
  border-radius: 50%;
  background-color: #193e31;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  line-height: 3.8rem;
  color: white;
  overflow: hidden;
}

.menu-list--user-profile .menu-list__item {
  justify-content: space-between;
}

.menu-list--apps .menu-list__item {
  flex-wrap: wrap;
}

.apps {
  @include hamburger(white, #e9c23a, 35px, 25px, 3px, 3);
}