{% extends "base.html" %}
{% block title %}Alteração de senha{% endblock %}
{% load widget_tweaks %}
{% load i18n static %}
{% block main %}
    <h3>Altere sua Senha</h3>
    <form method="post">{% csrf_token %}
        {% if form.errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}Por favor corrija o erro abaixo.{% else %}Por favor corrija os erros abaixo.{% endif %}
            </p>
        {% endif %}


        <p>Por favor, coloque a sua senha antiga, por questões de segurança, e, em seguida, digite a nova senha duas vezes para que possamos verificar se você digitou corretamente.</p>

        <div class="form-group has-feedback">
            {{ form.old_password.errors }}
            {{ form.old_password.label_tag }} {{ form.old_password|append_attr:"class: form-control" }}
        </div>

        <div class="form-group has-feedback">
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag }} {{ form.new_password1|append_attr:"class: form-control" }}
            {% if form.new_password1.help_text %}
            <p class="help">{{ form.new_password1.help_text|safe }}</p>
            {% endif %}
        </div>

        <div class="form-group has-feedback">
        {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag }} {{ form.new_password2|append_attr:"class: form-control" }}
            {% if form.new_password2.help_text %}
            <p class="help">{{ form.new_password2.help_text|safe }}</p>
            {% endif %}
        </div>

        <div class="submit-row">
            <input type="submit" value="Alterar minha senha" class="btn btn-primary btn-block btn-flat" />
        </div>

    </form>

{% endblock %}