@media screen and (max-width: 39.9375em){
  .wiki-navbar {
    height: 48px;
    padding: 0;
  }
}

body.dashboard {
  padding-top: 4em;
  @include breakpoint(small only) {
    padding-top: 3em;
  }

  @media print {
    padding-top: 0;
  }  
  
  & .navigation {
    @media print {
      display: none;
    }  
  }
}

.dashboard #template-body {
  padding: 2em 15em;
}